body {
    background: url(./Images/background1.jpg) no-repeat;
    background-size: cover;
}

h1 {
    color: purple;
    font-size: 60px;
}

h4 {
    font-size: 25px;
    
}

h1, h4, div, img{
        display: grid;
        justify-content: center;
        align-items: center;
}

p {
    display:grid;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 20px;
}

li {
    font-size: 20px;
}